body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    margin-top:100;
    height: 60px;
}
header img{
    border-radius: 30px;
    float: left;
}
header h1{
    clear: both;
    color: white;
    display: inline-block;
    width: 300px;
    height: 50%;
    position:absolute;
    left:700px;
    top: 0.5%;
}
 main section h2{
     margin: 0;
     padding-left:28%;
 }
.description{
    margin: 0 5px 0 0;
    background-color:rgb(228, 220, 220) ;
    padding-left: 7%;
    padding-right: 5%;
    padding-top: 2%;
}
.description-p1{
    padding-left:28%;
}
.description-p2{
    clear: both;
    padding-top:2%;
    padding-bottom:2%;
}

header nav{
    text-align: right;
    padding: 20px 0;
}
header nav ul li {
    display: inline;
    list-style-type:none;
}
header nav ul li a{
    color: white;
}
#description img{
    width: 400px;
    height: 400px;
    float: left;
}
#relationship img{
    width: 400px;
    height: 400px;
    float: right;
}
.relationship{
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 5%;
}
footer{
    position: fixed;
    background-color: grey;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 20px ;
}


